<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Contato Faesa</h1>
          <h2>Entre em contato conosco e compartilhe suas necessidades e desejos. Estamos prontos para atendê-lo e tornar suas ideias uma realidade. 
            Deixe-nos ajudar a transformar suas expectativas em resultados extraordinários.</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>